@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

        * {
            font-family: 'Noto Sans KR', sans-serif;
        }

        body {
            background-color: black;
        }

        div {
            margin: auto;
            width: 500px;
            background-color: #EEEFF1;
            border-radius: 5px;
            text-align: center;
            padding: 20px;
        }

        

        .in {
            margin-bottom: 10px;
        }

        

        a {
            text-decoration: none;
            color: #9B9B9B;
            font-size: 12px;
        }
        button:active{
            background-color: gainsboro;}

       
     